from typing import Dict, Any

def get_config() -> Dict[str, Any]:
    return {
        "name": "{{ agent_name }}",
        "key": "{{ agent_key }}",
        "description": "{{ agent_description }}"
    }
